{% extends 'layout.html' %}
{% block head %}
    <title>index</title>
{% endblock %}
{% block content %}
    <section class="section">
        <div class="container">
            <div class="column is-half is-offset-one-quarter">
                <h1 class="title">Welcome to Game Store</h1>
                <p>Here you will find a wonderful collection of games you can play anytime for free </p>
                <div>
                    <a href="{% url 'new_user' %}" class="is-link has-text-success">Sign up now!</a> or
                    <a href="login" class="is-link has-text-link">sign in</a>
                    if you already have an account
                </div>
            </div>
        </div>
    </section>
{% endblock %}